body {
	background-image: url("./assets/img/toilet-paper.jpeg");
	background-repeat: no-repeat;
	background-size: cover;
	font-family: "Comic Neue", cursive;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-align: center;
	color: #2c3e50;
	margin-top: 40px;
}

.home,
.register,
#login,
#board,
.announce,
.form {
	background: rgb(255, 255, 255, 0.8);
	max-width: 60%;
	margin: auto;
	padding: 2rem;
	border-radius: 5px;
}

form {
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 400px;
	margin: 0 auto;
	padding: 20px;
	border: 1px solid #ccc;
	border-radius: 5px;
}

.form_row {
	/* display: flex;
	flex-direction: column;
	align-items: flex-start; */
	width: 100%;
	margin-bottom: 16px;
}

input {
	width: 45%;
	padding: 7px;
	box-sizing: border-box;
	margin: 10px;
}

select {
	/* box-sizing: border-box; */
	padding: 0.2rem;
	margin: auto;
	width: 15rem;
	/* margin-left: 0.5rem; */
}

button {
	width: 40%;
	background-color: #007bff;
	color: #fff;
	padding: 10px;
	border-radius: 5px;
	cursor: pointer;
}

button:hover {
	background-color: #0056b3;
}
