.div-link-search {
	margin-bottom: 1.5rem;
}

.div-link-disconnect {
	margin-top: 1.5rem;
}

.none {
	max-width: 70%;
	margin: auto;
	border: 1px solid #ccc;
	border-radius: 1rem;
}

#announce {
	border: 1px solid #ccc;
	border-radius: 1rem;
	margin-bottom: 0.7rem;
}

.spe {
	max-width: 80%;
	margin: auto;
}

.delete li {
	cursor: pointer;
	color: #e51010;
}
