.pq {
	width: 50px;
}

h3 {
	margin: 40px 0 0;
}

ul {
	list-style-type: none;
	padding: 0;
}

li {
	display: inline-block;
	margin: 0 10px;
}

a {
	color: #42b983;
}

.map {
	margin-top: 25px;
}

.legend {
	width: 60%;
	margin-top: 2.5rem;
	/* display: block;
	justify-content: start; */
}

.pinkroll,
.blueroll,
.legend p {
	display: flex;
	justify-content: start;
}

.pinkroll img {
	width: 2rem;
}

.blueroll img {
	width: 2.1rem;
}
