.footer {
	text-align: center;
	padding: 20px;
	max-width: 80%;
	margin: auto;
	/* background-color: #f8f8f8;
	color: #333; */
}

.footer-hr {
	border: 1px solid #ddd;
	/* margin: 0; */
	margin-top: 2rem;
}

.footer-content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 20px;
}

.social-icons a {
	margin-right: 5px;
	color: #333;
	text-decoration: none;
}

/* .social-icons fa {
	font-size: 1rem;
} */

.copyright {
	font-size: 14px;
	color: #333;
}
