/* form {
	padding-bottom: 35px;
} */
/* input {
	width: 20%;
	padding: 5px;
	margin: 10px;
} */
textarea {
	resize: none;
	margin-top: 10px;
	width: 22rem;
	height: 6rem;
	box-sizing: border-box;
	/* padding: 3rem; */
	/* font-size: 3rem; */
}

/* .select {
	display: flex;
	flex-direction: column;
} */

/* .select:first-child {
	width: 4rem;
} */
