header {
	max-width: 100%;
	padding-bottom: 2rem;
	margin: auto;
}

.logo {
	width: 7%;
	padding-right: 10px;
}

.menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

/* .menu div {
	width: 50%;
} */

.menu div a {
	display: flex;
	align-items: center;
}

.menu a {
	text-decoration: none;
	color: #2c2a2a;
	margin: 0 15px;
}

.burger_menu {
	display: none;
}

h1 {
	font-size: 2.5rem;
}

/* Mobile styles */
@media screen and (max-width: 767px) {
	.burger_menu {
		display: block; /* Affiche l'icône du burger sur les écrans mobiles */
		cursor: pointer;
		width: 20%;
	}

	.menu div {
		width: 70%;
	}

	.menu ul {
		display: none; /* Caché par défaut */
		flex-direction: column;
		position: absolute;
		top: 70px;
		left: 0;
		/* width: 70%; */
		border-radius: 1rem;
		list-style: none;
		/* padding: 0; */
		/* background-color: #f8f8f8; */

		box-shadow: -10px 0px 10px rgba(0, 0, 0, 0.1);
		backdrop-filter: blur(10px);
	}

	.menu li {
		margin: 10px 0;
		text-align: center;
	}

	#root > header > nav > ul {
		/* display: flex; */
		flex-direction: column;
		position: fixed;
		width: 50%;
		left: 23rem;
		top: 17px;
	}

	#root > header > nav > div.burger_menu {
		position: fixed;
		width: 20%;
		top: 7%;
		z-index: 1;
		left: 85%;
		color: #2c2a2a; /* Adjust the color of the close icon */
	}
}

.menu ul.show {
	display: flex;
	flex-direction: row;
	position: absolute;
	top: 70px;
	left: 0;
	width: 100%;
	/* background-color: #f8f8f8; */
	/* list-style: none;
	padding: 0;
	margin: 0; */
}

.menu ul.show li {
	margin: 10px 0;
}

/* Tablet styles */
@media (min-width: 768px) and (max-width: 1023px) {
	.menu {
		flex-direction: column;
		align-items: flex-start;
	}

	.menu div {
		width: 100%;
	}

	.menu ul {
		display: flex;
		justify-content: center;
		margin-top: 15px;
	}

	.menu li {
		margin: 0 20px;
	}
}

/* Desktop styles */
@media (min-width: 1024px) {
	.menu {
		flex-direction: row;
	}

	.menu div {
		width: 50%;
	}

	.menu ul {
		display: flex;
		justify-content: flex-end;
		align-items: center;
	}

	.menu li {
		margin: 0 15px;
	}
}

/*  */
